<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="../css/style.css">	
</head>
<body>
	<div class="index-head">
		<div class="top">
			<div class="container">
				<span>····</span>
				<img src="" alt="">
				<img src="" alt="">
			</div>
		</div>
		<div class="con">
			<div class="container">
				<span>Maretts</span>
				<ul>
					<li>Test</li>
					<li>Test</li>
					<li>Test</li>
					<li>Test</li>
					<li>Test</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="index-banner">
		<img src="../images/bg.png" alt="">
	</div>
	<div class="index-body">
		<div class="container">
			<div class="content">
				

			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<ul>
				<li class="title">Test</li>
				<li>Test</li>
				<li>Test</li>
				<li>Test</li>
				<li>Test</li>
				<li>Test</li>
				<li>Test</li>
				<li>Test</li>
			</ul>
			<ul>
				<li class="title">Test</li>
				<li>Test</li>
				<li>Test</li>
				<li>Test</li>
				<li>Test</li>
				<li>Test</li>
				<li>Test</li>
				<li>Test</li>
			</ul>
			<ul>
				<li class="title">Test</li>
				<input class="input" type="text">
				<input class="submit" type="submit">
			</ul>
			<ul>
				<li class="title">Test</li>
				<li>Test</li>
				<li>Test</li>
				<li>Test</li>
				<li>Test</li>
				<li>Test</li>
				<li>Test</li>
				<li>Test</li>
			</ul>
		</div>
	</div>
</body>
</html>