body{
	font-family: "微软雅黑";
	font-size: 13px;
	margin: 0;
	padding: 0;
}
a{text-decoration: none;}
#register,#login {
	width:100%;
	position: absolute;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.img-responsive{
	max-width: 100%;
	height:auto;
	display: block;
}
#register{	
	z-index: 21;
	opacity: 0;
}
#login{
	z-index: 22;
}
/* login register */
#container_demo{
	 text-align: left;
	 margin: 0;
	 padding: 0;
	 margin: 0 auto;
}

#wrapper{
	right: 0px;
	min-height: 560px;	
	margin: 0px auto;	
	/*width: 28.5%;*/
	width: 100%;
	position: relative;	
}
body{
	width: 100%;
	background-image: url(../images/bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}
a.hiddenanchor{
	display: none;
}


/*ie*/
lt8 #wrapper input{
	padding: 10px 5px 10px 32px;
    width: 92%;
}
.lt8 #wrapper input[type=checkbox]{
	width: 10px;
	padding: 0;
}
.lt8 #wrapper h1{
	color: #066A75;
}
.lt8 #register{	
	display: none;
}

#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
	z-index: 22;
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-ms-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-o-animation-delay: .1s;
	-ms-animation-delay: .1s;
	animation-delay: .1s;
}
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
	-webkit-animation-name: fadeOutLeft;
	-moz-animation-name: fadeOutLeft;
	-ms-animation-name: fadeOutLeft;
	-o-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}

/** the actual animation, credit where due : http://daneden.me/animate/ ***/
.animate{
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	
	-o-animation-duration: 0.5s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both;
	
	-ms-animation-duration: 0.5s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}




#wrapper .container{
	width: 100%;
	padding-top: 260px;
}
.container .big-box{
	position: relative;
	width: 100%;
	height: 555px;
	margin: 0 auto;
    box-shadow: 0 0 4px 1px #fff;
}
.container .box{
	width: 340px;
	height: 500px;
	/*background: #ffeeee;*/
	margin: 0 auto;
	padding: 10px 30px 0;
	position: relative;
	z-index: 1;
}
.container .box .logo{
	overflow: hidden;
	width: 100px;
	margin: -70px auto;
}
.container .box .logo img{
	width: 100%;
}
.container .box .line{
	height: 1px;
	width: 100%;
	background: #ddd;
	box-shadow: 0 0 1px 1px #ddd;
	margin: 130px 0 50px;
}
.container .box form{
	text-align: center;
	width: 295px;
	margin: 0 auto;
}
.container .box input{
    /*width: 78%;*/
    width: 100%;
    height: 35px;
    text-indent: 8px;
    font-family: "微软雅黑";
	border-color:#ee6955;
}
.container .box input[type="button"],input[type=submit]{
	width: 100%;
    height: 35px;
    background: #ee6955;
    border-radius: 8px;
    border: 0;
    font-size: 15px;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    font-family: "微软雅黑";
}
.container .box .status{
	text-align: right;
	margin: 16px 0 20px;
}
.container .box .status_b{
	text-align: right;
	margin: 0 0 50px;
}
.container .box .status_c{
	text-align: right;
	margin: 16px 0 50px;
}
.container .box .status a{
	color: #fff;
}
.container .box .status_b a{
	color: #fff;
}
.container .box .status_c a{
	color: #fff;
}
.container .mb{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.6;
	top: 0;
	left: 0;
}

/**material design**/
.form-group {
  position: relative;
  font-size: 15px;
  color: #fff;
      height: 35px;
}
.form-group + .form-group {
  margin-top: 30px;
}
.form-group .form-label {
	margin: 4px auto;
  position: absolute;
  z-index: 1;
  left: 8px;
  top: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form-group .form-control {
  width: 100%;
  position: relative;
  z-index: 3;
  height: 35px;
  background: none;
  border: none;
  padding: 5px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid #777;
}
.form-group .form-control:invalid {
  outline: none;
}
.form-group .form-control:focus, .form-group .form-control:valid {
  outline: none;
  color: #000;
  box-shadow: 0 1px #FF4081;
  border-color: #fff;
}
.form-group .form-control:focus + .form-label, .form-group .form-control:valid + .form-label {
  font-size: 13px;
  color:#ee6955;
  -ms-transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  transform: translateY(-30px);
}
/**material design end**/







/*---------index-------------*/
.container{
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
.index-head{
    width: 100%;
    min-height: 100px;
    background-color: #fff;
}
.index-head .top{
    height: 40px;
    background-color: #000;
    width: 100%;
}
.index-head .top span{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 20px;
}
.index-head .top img{
	width: 20px;
	height: 20px;
	background-color: #fff;
	margin-left: 20px;
	float: right;
}
.index-head .con span{
	line-height: 60px;
	font-weight:600;
	font-size: 20px;
}
.index-head .con ul{
	float: right;
}
.index-head .con li{
    text-align: center;
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
}
.index-head .con li:hover{
	text-align: center;
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    background-color: #000;
    color: #fff;
}
.index-head .con li:after{
	content:"丨";
	color:#000;
	margin-left: 40px;
}
.index-banner{
	width: 100%;
	overflow: hidden;
	height: 600px;
}
.index-banner img{
	width: 100%;
}
.index-body{
	width: 100%;
	height: 600px;
	background-color: #fff;
}
.index-body .content{
	width: 100%;
	position: absolute;
	height: 700px;
	background-color: #fff;
	margin-top: -50px;
	z-index: 1;
}
.index-body .left{
	float:left;
	margin: 50px;
	width: 50%;
	height: 500px;
	background-color: #000;
}
.index-body .right{
	margin-top: 50px;
	float: left;
	width: 40%;
	height: 500px;
}
.index-body .right .img1{
	margin-bottom: 50px;
	width: 100%;
	height:300px;
	background-color: #000;
}
.index-body .right .img2{
	float: left;
	width: 45%;
	height:150px;
	background-color: #000;
}.index-body .right .img3{
	float: left;
	width: 45%;
	height:150px;
	margin-left:48px;
	background-color: #000;
}

.footer .container{
	padding-top: 80px;
}
.footer{
	width: 100%;
	height: 400px;
	background-color: #000;
}
.footer ul{
	float: left;
	width: 25%;
}
.footer li{
	color: #fff;
	margin-top: 15px;
}
.footer ul .title{
	font-size: 24px;
	margin: 0;
}
.footer ul .input{
	margin-top: 20%;
	width: 80%;
}
.footer ul .submit{
	width: 60%;
	height: 30px;
	margin-top: 20px;
	background-color: #7fb80e;
	border-radius: 3px;
}
